# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gitignore
src/assets/video/film.mp4
src/assets/video/test.mp4
src/assets/video/test2.mp4
src/assets/video/test3.mp4
src/assets/music/*
src/assets/imgs/*
