
.absolute_center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.none{
  display: none;
}
.flex{
  display: flex;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.fixed{
  position: fixed;
}
.margin_0_auto{
  margin: 0 auto;
}
.margin_right_1em{
  margin-right: 1em;
}
.margin_left_1em{
  margin-left: 1em;
}
.margin_left_auto{
  margin-left: auto;
}
.margin_right_auto{
  margin-right: auto;
}
.margin_top_auto{
  margin-top: auto;
}
.margin_bottom_auto{
  margin-bottom: auto;
}
.margin_auto_0{
  margin:auto 0 ;
}
.margin_4_percent{
  margin:4%;
}
.margin_2_percent{
  margin:2%;
}
.align_items_center{
  align-items: center;
}
.justify_content_space_around{
  justify-content: space-around;
}
.justify_content_center{
  justify-content: center;
}
.flex_direction_column{
  flex-direction: column;
}
.flex_direction_row
{
  flex-direction: row;
}
.gap_0_2_em{
  gap: .2em;
}
.gap_0_5_em{
  gap: .5em;
}
li{
  list-style: none;
  padding: 0 0;
}
.width_full{
  width: 100%;
}
.striking_title_orange{
  font-size: 30px;
  font-weight: 600;
    color: #f0681e;
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: 5px;
      border-radius: 100px;
      background: #ff7b005b;
      left: 50%;
      transform: translateX(-50%);
    }
}

/* 语法高亮 */
