
.absolute_center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.flex{
  display: flex;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.fixed{
  position: fixed;
}
.margin_0_auto{
  margin: 0 auto;
}
.margin_auto_0{
  margin:auto 0 ;
}
.align_items_center{
  align-items: center;
}
.justify_content_space_around{
  justify-content: space-around;
}
.justify_content_center{
  justify-content: center;
}
.flex_direction_column{
  flex-direction: column;
}
.flex_direction_row
{
  flex-direction: row;
}
li{
  list-style: none;
  padding: 0 0;
}
.width_full{
  width: 100%;
}
.striking_title_orange{
  font-size: 30px;
  font-weight: 600;
    color: rgb(240, 104, 30);
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: 5px;
      border-radius: 100px;
      background: #ff7b005b;
      left: 50%;
      transform: translateX(-50%);
    }
}