$code_bg: var(--code_bg, #f6f8fa);
$h1_color: var(--h1_color, #ff7f50);
$h2_color: var(--h2_color, #73f45b);
$h3_color: var(--h3_color, #50ffcb);
$h4_color: var(--h4_color, #8fbc8f);
$h5_color: var(--h5_color, #ff5070);
$h6_color: var(--h6_color, #5e86c1);
$normal_color: var(--normal_color, #0f1828);

$blockquote_bg: var(--blockquote_bg, #faebd78c);
$blockquote_color: var(--blockquote_color, #ff7300);
.markdown-body {
  background: transparent;
  color: $normal_color;
  width: 100%;
  z-index: 10;
  letter-spacing: 2px;
  
  h1 {
    font-size: 24px;
    font-weight: 600;
    color: $h1_color;
    &::before {
      content: "";
      width: 5px;
      height: 1em;
      background: $h1_color;
      position: absolute;
      top: 52%;
      transform: translateY(-50%);
      left: -10px;
    }
  }
  h2 {
    font-size: 20px;
    font-weight: 600;
    color: $h2_color;
    &::before {
      content: "";
      width: 5px;
      height: 1em;
      background: $h2_color;
      position: absolute;
      top: 52%;
      transform: translateY(-50%);
      left: -10px;
    }
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
    color: $h3_color;
    &::before {
      content: "";
      width: 5px;
      height: 1em;
      background: $h3_color;
      position: absolute;
      top: 52%;
      transform: translateY(-50%);
      left: -10px;
    }
  }
  h4 {
    font-size: 14px;
    font-weight: 600;
    color: $h4_color;
    &::before {
      content: "";
      width: 5px;
      height: 1em;
      background: $h4_color;
      position: absolute;
      top: 52%;
      transform: translateY(-50%);
      left: -10px;
    }
  }
  h5 {
    font-size: 13px;
    font-weight: 600;
    color: $h5_color;
    &::before {
      content: "";
      width: 5px;
      height: 1em;
      background: $h5_color;
      position: absolute;
      top: 52%;
      transform: translateY(-50%);
      left: -10px;
    }
  }
  h6 {
    font-size: 12px;
    font-weight: 600;
    color: $h6_color;
    &::before {
      content: "";
      width: 5px;
      height: 1em;
      background: $h6_color;
      position: absolute;
      top: 52%;
      transform: translateY(-50%);
      left: -10px;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-bottom: none;
    position: relative;
    transform: translateX(10px);
    padding: 0;
  }
  code {
  }
  blockquote {
    background-color: $blockquote_bg;
    color: $blockquote_color;
    padding: 8px 16px;
    border-left: 0.25em solid $blockquote_bg;
  }
  p {
  }
  pre {
    font-family: "monaco";
    position: relative;
    padding-top: 32px;
    background: $code_bg;
    &::after {
      position: absolute;
      top: 10px;
      left: 15px;
      width: 12px;
      height: 12px;
      overflow: visible;
      font-weight: 700;
      font-size: 16px;
      line-height: 12px;
      white-space: nowrap;
      text-indent: 75px;
      background-color: #fc625d;
      border-radius: 16px;
      box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
      content: attr(codetype);
    }
  }
}
