$to_top_btn_fill: var(--to_top_btn_fill, #e57724);
$to_top_btn_bg: var(--to_top_btn_bg, #ffffff);
$to_top_btn_hover_bg: var(--to_top_btn_hover_bg, #f5eded);

.to_top_btn {
    position: fixed;
    right: 40px;
    bottom: 60px;
    width: 4%;
    height: 10%;
    background: $to_top_btn_bg;
    border-radius: 5px;

    z-index: 100;
    animation: show 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    .to_top_path{
      fill:$to_top_btn_fill;
    }
    @keyframes show {
      0% {
        bottom: -60px;
        opacity: 0;
      }

      100% {
        opacity: 1;
        bottom: 60px;
      }
    }

    &:hover {
      background-color: $to_top_btn_hover_bg;
    }
  }